#products{
    color:blue;
    background-color: aqua;
}
#comName{
    color: blueviolet;
    background-color: black;
}
#units{
    color:blue;
    background-color: aqua;
}
#proList{
    color:darkgray;
    background-color: green;
}